# IntelliJ IDEA / JetBrains IDEs
/.idea/
/*.iml
/shelf/
/.idea/workspace.xml

# Eclipse
/.settings/
/.classpath
/.project

# Visual Studio Code
/.vscode/

# Common system files
.DS_Store  # macOS
Thumbs.db  # Windows

# Others
/bin/